<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head'); %>
</head>

<body class="container">

   <header>
      <%- include('../partials/header'); %>
   </header>

   <main>
      <div class="jumbotron">
         <h2>Voting list is ready</h2>
         <br>
         <br>
         <div class="">
            <h3>Title of voting</h3>
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">First</th>
                     <th scope="col">Handle</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th scope="row">1</th>
                     <td>Mark</td>
                     <td>@mdo</td>
                  </tr>
                  <tr>
                     <th scope="row">3</th>
                     <td>Larry</td>
                     <td>@twitter</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </main>

   <script>

   </script>
   <footer>
      <%- include('../partials/footer'); %>
   </footer>

</body>

</html>