<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head'); %>
</head>

<body class="container">

   <header>
      <%- include('../partials/header'); %>
   </header>

   <main>
      <div class="jumbotron">
         <h2>DANH SÁCH CÁC CUỘC BỎ PHIẾU ĐANG DIỄN RA</h2>
         <br>
         <br>
         <% for(let item of list) { %>
            <%- include('./temSig', {item}); %>
         <% } %>
         <br>
         
      </div>
   </main>

   <script>

   </script>
   <footer>
      <%- include('../partials/footer'); %>
   </footer>

</body>

</html>