<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head'); %>
</head>

<body class="container">



   <main>
      <div class="jumbotron">
         <h1>GROUP 5</h1>
         <p></p>
         <div class="login-container">
            <form class="login-form" id="loginForm" >
               <h2>Login</h2>
               <div class="form-group">
                  <label for="cccd">CCCD</label>
                  <input type="text" id="cccd" name="cccd" required>
               </div>
               <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" required>
               </div>

               <button type="submit">Login</button>
            </form>
            <form action="/register" method="GET">
               <button type="submit">To Register Page</button>

            </form>
         </div>
      </div>
   </main>

   <script>
      document.getElementById('loginForm').addEventListener('submit', function (event) {
         event.preventDefault();
         const cccd = document.getElementById('cccd').value;
         const password = document.getElementById('password').value;
         const formData = {
            cccd,
            password
         };

         fetch('/user/login', {
            method: 'POST',
            headers: {
               'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
         })
            .then(response => response.json())
            .then(data => {
               document.cookie = `access_token=${data.access_token}`;
               toastr.success(data.message);
               setTimeout(() => {
                  window.location.href = '/';
               }, 1000)
            })
            .catch((error) => {
               
               toastr.error('Sai tên đăng nhập hoặc mật khẩu');
            });
      });

   </script>
   <footer>
      <%- include('../partials/footer'); %>
   </footer>

</body>

</html>