<meta charset="UTF-8">
<title>An Ninh mạng nhóm 5</title>

<!-- CSS (load bootstrap from a CDN) -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
   toastr.options = {
         closeButton: true,
         debug: false,
         newestOnTop: true,
         progressBar: true,
         positionClass: "toast-top-right",
         preventDuplicates: false,
         onclick: null,
         showDuration: "300",
         hideDuration: "1000",
         timeOut: "2000",
         extendedTimeOut: "1000",
         showEasing: "swing",
         hideEasing: "linear",
         showMethod: "fadeIn",
         hideMethod: "fadeOut"
      };

</script>

<style>
   body {
      padding-top: 50px;
   }
</style>